################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CookieGrinder
/CookieGrinder/bin/Debug/net6.0-windows
/CookieGrinder/obj
/CookieGrinder/bin/Release/net6.0-windows
